body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}
@font-face {
    font-family: semplicitaLight;
    src: url(fonts/semplicita.light.otf);
}
@font-face {
    font-family: semplicitaMedium;
    src: url(fonts/semplicita.medium.otf);
}
@font-face {
    font-family: semplicitaBold;
    src: url(fonts/semplicita.bold.otf);
}
body {
	line-height: 1;
}
#background {
   	position: fixed; 
  	top: 0; 
  	left: 0;
  	min-width: 100%;
  	min-height: 100%;
}
#logo {
	margin-top: 20px;
	height: 140px;
	width: auto;
}
a:hover {
	text-decoration: none;
	cursor: auto;
}


/* Arrows
-------------------------------------------------- */
.arrow {
	width: 60px;
    height: auto;
}
.arrowText {
	font-family: semplicitaMedium;
    color: white;
    font-size: 2em;
}
#downArrowContainer {
	/* border: 2px solid red; */

	width: 100%;
	padding: 10px;
}
#downText {
	/* border: 2px solid steelblue; */
	text-align: center;
}
#downArrowDiv {
	/* border: 2px solid pink; */
	text-align: center;
}


/* Sticky footer styles
-------------------------------------------------- */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
